.display-flex{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-color{
    color: blueviolet;
}

.text-color1{
    color: rgb(255, 195, 44);
}

p{
    font-size: 17px;
    text-align: justify;
}

h1{
    color: rgb(255, 43, 43);
}

.font{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sen', sans-serif;
}
